extends layout

block content
  form
    h2.error Oooops! Please refresh page and try again.
    ul.error
      each error in errors 
        li= error.message

      a.button(href='' value='Refresh Page' onClick='history.go(0)') TRY AGAIN

    p
      label(for='title' ) Title
      input#title(name='title' type='text' value="Required" autofocus)
    p
      label(for='author') Author
      input#author(name='author' type='text' value="Required" autofocus)
    p
      label(for='genre') Genre
      input#genre(name='genre' type='text')
    p
      label(for='year') Year
      input#year(name='year' type='text')
    p
      //- a.button(href=`/book/${book.id}`) CANCEL
    